/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
figwheel_server.log
.rebel_readline_history
*.iml

/resources/public/js/
/.clj-kondo/.cache/
/.cpcache
/.shadow-cljs
/node_modules
yarn-error.log