{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  quil/quil {:mvn/version "3.1.0"}
  thi.ng/geom {:mvn/version "0.0.1062"}
  com.taoensso/tufte {:mvn/version "2.2.0"}}

 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.891"}
    thheller/shadow-cljsjs {:mvn/version "0.0.22"}}}

  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {thheller/shadow-cljs {:mvn/version "2.16.4"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}