{:deps {:alias [:cljs :dev]}
 :builds {:main
          {:target :browser
           :output-dir "resources/public/js"
           :modules {:app {:entries [biosphere.core]}}

           :devtools
           {:repl-pprint true
            :http-port 9500
            :http-root "resources/public"}}}}